/*reset do css do navegador, tirando as configurações pré-colocadas*/
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* variáveis das cores */
html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-light: #E5EAF1;

    /*1rem = 16px (User Agent) = 100% (User Agent)*--- dessa forma, o padrão do texto fica em 10px, para descobrir a fonte é só dividir por 10*/
    font-size: 62.5%;
}

body{
    height: 100vh; /*view height = tamanho da tela --- width: 100vw; /*view width = largura da tela*/*/
    background: var(--background); /*Uso da variável declarada anteriormente*/
}

/*essas informações estão aqui, pois se colocar no body, não é incluído o button, input e textarea*/
body, button, input, textarea{
    /* intervalo de tamanho --- menor tamanho, tamanho padrão, tamanho máximo */
    font-size: clamp(14px, 1.6rem, 2vw);
}