.content{
    max-width: min(102rem, 90%);
}

#room header{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons{
    display: flex;

}

/* está pegando a primeira class button do room.html */
#room header .buttons .button:nth-child(1){
    margin-right: .8rem;
    padding: 1.3rem 1.6rem;
}

/* está pegando o img que está dentro do primeiro button */
#room header .buttons .button:nth-child(1) img{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

/* Segunda div com class button */
#room header .buttons .button:nth-child(2){
    padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img{
    width: 2rem;
    height: 2rem;
}

/* QUESTION FORM */
#question-form h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: var(--black);
    font-weight: 700;
    line-height: 4.2rem;

    margin-bottom: 2.4rem;
}

#question-form form{
    border: .2rem solid var(--grey-blue);
    padding: 1.6rem;
    /* bordas das arestas do campo de pergunta - em ordem de sentido horário */
    border-radius: 0 .8rem .8rem .8rem;
    /* margem pra dividir as a textarea de pergunta com as perguntas */
    margin-bottom: 1.6rem;
}

#question-form form textarea{
    /* propriedade para a textarea não aumentar de tamanho com o usuário */
    resize: none;
    /* para não tem cor e ficar transparente */
    background: transparent;

    /* ficar na largura toda do form */
    width: 100%;

    /* não ter borda preta quando clica */
    outline: none;
}

/* estilização do placeholder do textwarea */
#question-form textarea::placeholder{
    color: var(--grey-blue);

}

#question-form form footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* O sinal > serve para pegar a div filha de footer, ou seja, ela pega a primeira div que tem em footer e não as "netas", isso impede de ser colocado conteúdo mais pra frente e alterar todo o desigN */
#question-form form footer > div{
    display: flex;
    align-items: center;
    color: var(--icons-details);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

/* COLOCANDO ESTILO NA IMAGEM (CADEADO) DA DIV FILHA */
#question-form form footer > div img{
    margin-right: 0.9rem;
}

#question-form footer button{
    /* altura automática */
    height: auto;
    padding: .8rem 2.4rem;
    /* altura da linha */
    line-height: 2.4rem;
}